.page {
	height: 100%;
	min-height: 200vh;
	/* Ensure that the height is at least equal to the viewport height */
	background: linear-gradient(30deg, #151515 10%, #0e1822);
	color: white;
}

body {
	margin: 0;
	font-family: 'Be Vietnam Pro', sans-serif;
}

/* navbar section */
.header {
	position: fixed;
	height: 35px;
	width: 100vw;
	z-index: 2;
}

.nav {
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
	text-transform: uppercase;
}

li {
	list-style: none;
}

.center {
	text-align: center;
	display: flex;
}

.right {
	position: absolute;
	right: 0;
	text-align: right;
}

.left {
	position: absolute;
	left: 0;
	text-align: left;
}

@media only screen and (max-width: 768px) {

	.center {
		margin-bottom: 120px;
	}

	.info-container {
		gap: 12px;
	}

}

@media only screen and (max-width: 372px) {


	.info-container {
		display: flex;
		flex-direction: column;
		margin-top: 180px;
		gap: 12px;
	}

	.button-container {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

}

/* Nav knapper seksjon */

.button-container {
	display: flex;
	justify-content: center;
	margin-top: -10px;
}

@media only screen and (max-width: 768px) {
	.button-container {
		margin-top: -350px;
	}
}

.btn {
	display: inline-block;
	margin-top: 28px;
	color: #fff;
	background: transparent;
	border: unset;
	border-radius: 16px;
	overflow: hidden;
	padding: 10px 20px;
	font-weight: 600;
	font-size: 16px;
	margin: 0 10px;
	cursor: pointer;
	position: relative;
	z-index: 0;
	transition: background 0.3s ease;
}

.btn::before,
.btn::after {
	content: '';
	position: absolute;
}

.btn::before {
	left: 50%;
	top: 50%;
	background: linear-gradient(90deg, #00ffd0 0%, transparent 45%, transparent 55%, #00ffd0 100%);
	transform: translate(-50%, -50%) rotate(55deg);
	width: 100%;
	height: 240%;
	border-radius: 16px;
	z-index: -2;
	opacity: 0.4;
	transition: all 0.3s ease;
}

.btn::after {
	left: 2px;
	top: 2px;
	background: #171721;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	border-radius: 16px;
	z-index: -1;
}

.btn:hover::before {
	animation: 5s move infinite linear;
	opacity: 1;
}


/* Dashboard buttons */


.btn-dash {
	height: 35vh;
	width: 50vh;
	display: inline-block;
	margin-top: 28px;
	color: #fff;
	background: transparent;
	border: unset;
	border-radius: 16px;
	overflow: hidden;
	padding: 10px 20px;
	font-weight: 600;
	font-size: 16px;
	margin: 0 10px;
	cursor: pointer;
	position: relative;
	z-index: 0;
	transition: background 0.3s ease;
	box-shadow: 6px 28px 46px -6px #000;
}

@media only screen and (max-width: 768px) {

	.btn-dash {
		width: 35vh;
	}

}

.btn-dash::before,
.btn-dash::after {
	content: '';
	position: absolute;
}

.btn-dash::before {
	left: 50%;
	top: 50%;
	background: linear-gradient(90deg, #00ff22 0%, transparent 45%, transparent 55%, #00ffd0 100%);
	transform: translate(-50%, -50%) rotate(55deg);
	width: 100%;
	height: 240%;
	border-radius: 16px;
	z-index: -2;
	opacity: 0.4;
	transition: all 0.3s ease;
}

.btn-dash::after {
	left: 2px;
	top: 2px;
	background: #171721;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	border-radius: 16px;
	z-index: -1;
}

.btn-dash:hover::before {
	animation: 5s move infinite linear;
	opacity: 1;
}

/* Dashboard main seksjon */

.wrapper {
	background: linear-gradient(30deg, #151515 10%, #0e1822);
	min-height: 100vh;
	width: 100%;
	display: flex;
}

.container {
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	display: flex;
	gap: 40px;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 40px;
}

.info {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-size: large;
}

@keyframes move {
	0% {
		transform: translate(-50%, -50%) rotate(55deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(415deg);
	}
}


/* Dashboard Vær */

.btn-dash-Weather {
	height: 35vh;
	width: 50vh;
	display: inline-block;
	margin-top: 28px;
	color: #fff;
	background: transparent;
	border: unset;
	border-radius: 16px;
	overflow: hidden;
	padding: 10px 20px;
	font-weight: 600;
	font-size: 16px;
	margin: 0 10px;
	cursor: pointer;
	position: relative;
	z-index: 0;
	transition: background 0.3s ease;
	box-shadow: 6px 28px 46px -6px #000;
}

.btn-dash-Weather::before,
.btn-dash-Weather::after {
	content: '';
	position: absolute;
}

.btn-dash-Weather::before {
	left: 50%;
	top: 50%;
	background: linear-gradient(90deg, #00ff22 0%, transparent 45%, transparent 55%, #00ffd0 100%);
	transform: translate(-50%, -50%) rotate(55deg);
	width: 100%;
	height: 240%;
	border-radius: 16px;
	z-index: -2;
	opacity: 0.4;
	transition: all 0.3s ease;
}

.btn-dash-Weather::after {
	left: 2px;
	top: 2px;
	background: #171721;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	border-radius: 16px;
	z-index: -1;
}

.btn-dash-Weather:hover::before {
	animation: 5s move infinite linear;
	opacity: 1;
}

@media only screen and (min-width: 768px) {

	.vær-Mobil {
		display: none;
	}

	.vær-Desktop {
		height: 10%;
		width: 100%;
	}

	.Turbine-dashboard {
		width: 50%;
		height: 50%;
		align-items: center;
	}

}

@media only screen and (max-width: 768px) {

	.boxes {
		flex-wrap: wrap;
	}

	.container {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
		margin-bottom: 40px;
	}

	.vær-Desktop {
		display: none;
	}

	.btn-dash-Weather {
		height: 60vh;
		width: 35vh;
	}

	.Turbine-dashboard {
		width: 80%;
	}
}

/* Dashboard Trend */

@media only screen and (min-width: 768px) {

	.trend-Dashboard {
		margin-top: 20px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}


}

@media only screen and (max-width: 768px) {

	.trend-Dashboard {
		height: 80%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

}

/* logg */

.table {
	list-style: none;
	padding: 0;
	margin: 0;
	color: black;
}

.table li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #f0f0f0;
	margin-bottom: 5px;
	border-radius: 5px;
}

.table li:nth-child(even) {
	background-color: #d3d3d3;
}

.table li strong {
	margin-right: 10px;
	font-weight: bold;
}

.table li span {
	font-size: 0.8em;
}

/* Trend site */

.graph-buttons-switch {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.boxes {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.trend-Container {
	background-color: #172838da;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 400px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: calc(33.33% - 10px);
}

.graph-Trend {
	width: 96%;
	height: 96%;
}

/* trend site mobile */

@media only screen and (max-width: 768px) {

	.boxes {
		flex-direction: column;
	}

	.trend-Container {
		width: 80%;
		margin: 10px auto;
	}

}

.hidden {
	display: none;
}