.turbinePage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 65vh;
}

.turbine {
	animation: spin 1s linear infinite;
	width: 6em;
	height: auto;
	margin: 0 auto;
}

.turbines-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 26em;
	gap: 20px;
}

.turbinePageContent {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	height: 50vh;
	margin-top: 50px;
	gap: 10px;
}


.value-info {
	color: #4287f5;
}

@media only screen and (max-width: 768px) {

  
  .turbinePageContent {
    flex-direction: column;
    margin-top: 180px;
  }

	.turbines-container {
		width: 15em;
	}

	.turbinePage {
		height: 75vh;
	}

	.info-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 380px;
		gap: 30px;
	}

	.value-info {
		font-size: 1.2em;
	}
}

@media only screen and (min-width: 768px) {
	.turbines-container {
		width: 37em;
	}

	.turbine {
		width: 10em;
	}

	.info-container {
		display: flex;
		flex-direction: row;
		margin-bottom: 30px;
		gap: 80px;
	}

	.value-info {
		font-size: 2em;
	}
}