.Dashboard {
  color: #282c34;
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: top;
  justify-content: center; 
  color: white; 
}

.headerDash {
  margin: 20px;
}

.LogoutBtn {
  background: #5439db;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
}
