

.dashboard {
	height: 100vh;
	background-color: #282c34;
	color: white;
}
/* navbar section */
.header {
	position: fixed;
	height: 35px;
	width: 100vw;
	z-index: 2;
}

.nav {
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
	text-transform: uppercase;
}

li {
	list-style: none;
}

.center {
	text-align: center;
	display: flex;
}

.right {
	position: absolute;
	right: 0;
	text-align: right;
}

.left {
	position: absolute;
	left: 0;
	text-align: left;
}

/* top buttons section */

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 30px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
	margin: 0 10px;
}

.btn:first-child {
	margin-right: 20px;
}

.btn:last-child {
	margin-left: 20px;
}

.btn:hover {
  background-color: #0069d9;
}

.btn:active {
  background-color: #0062cc;
}

/* main section */

.main-container {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  color: black;
}

.cards {
  background-color: rgb(247, 247, 247);
  padding: 2px 16px;
  border-radius: 1rem;
}






