.turbine {
  animation: spin 1s linear infinite;
  width: 6em;
  height: auto;
  margin: 0 auto;
}

.turbines-container {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  width: 13em;
  height: 100%;
}

.turbinePageContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
}